body {
  font-family: "Heebo", sans-serif;
  color: #000000;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  background-attachment: fixed;
}

h1 {
  font-size: 160px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0px;
  text-align: right;
  position: relative;
  top: -14px;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 12px;
  margin-bottom: 0;
}

hr {
  padding-bottom: 15px;
  height: 4px;
  border-color: rgb(69, 120, 168);
}

a {
  text-decoration: none;
  color: #757575;
}

a:hover {
  text-decoration: underline;
}

small {
  display: block;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  color: #757575;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

li:first-letter {
  text-transform: capitalize;
}

.app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  padding: 50px;
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
}

.form-control {
  border-radius: 0;
  border-color: #000000;
}

.btn {
  border-radius: 0;
}

.location-zone {
  margin: 40px 0;
}

.current-icon {
  position: relative;
  top: -20px;
  left: -10px;
}

.weather-description {
  margin-top: -24px;
}

.feels-like {
  font-weight: 500;
}

.weather-forecast-block {
  padding: 50px;
  margin-bottom: 15px;
  background: rgb(255, 255, 255);
}

.temp-min {
  font-weight: 300;
}

.temp-forecast-day {
  margin-bottom: 10px;
  font-weight: 500;
}

.forecast-temperatures {
  margin-top: 15px;
}
