body {
  font-family: "Heebo", sans-serif;
  color: #000000;
}

h1 {
  font-size: 160px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0px;
  text-align: right;
  position: relative;
  top: -14px;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 12px;
  margin-bottom: 0;
}

hr.regular {
  padding-bottom: 10px;
}

hr.divider {
  padding-bottom: 30px;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #757575;
}

a:hover {
  text-decoration: underline;
}

small {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #757575;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

li:first-letter {
  text-transform: capitalize;
}

.app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  padding: 50px;
  border: 1px solid #000000;
  margin-bottom: 15px;
}

.search-area {
  max-width: 100%;
}

.form-control {
  border-radius: 0;
  border-color: #000000;
}

.btn-outline-dark {
  border-radius: 0;
}

.location-zone {
  margin: 40px 0;
}

.current-icon {
  position: relative;
  top: -20px;
  left: -10px;
}

.weather-description {
  margin-top: -22px;
}

.feels-like {
  font-weight: 500;
}
